
[Unit]
Description=Write current temperature from sata and nvme disks to file for prometheus node textfile to read

[Timer]
OnCalendar=minutely
Persistent=true

[Install]
WantedBy=timers.target
