[Unit]
Description=Write current temperature from sata and nvme disks to file for prometheus node textfile to read

[Service]
EnvironmentFile=-/etc/conf.d/hddtemp-prometheus
Type=simple
ExecStart=/usr/bin/hddtemp-prometheus.sh
